body {
  font-family: 'Satoshi', sans-serif;
  background-color: black;
  color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  background-image: url(artwork.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically within the container */
}

.test {
  backdrop-filter: brightness(0.4);
  height: 100vh;
}

.coll {
  text-align: center;
}

.isro-text {
  text-align: center;
  color: #ffffff;
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.isro-subtext {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .isro-text {
    font-size: 3rem;
  }

  .isro-subtext {
    font-size: 0.8rem;
  }
}
